@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

<table class="table">
    <tr>
        <th>Books</th>
    </tr>

@foreach (var book in this.ViewBag.Books)
{
    <tr>
        <td>@book</td>
    </tr>
}
</table>
