
@{
    ViewBag.Title = "Index";
}

@section featured
{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                It is featured section. That is named section in Layout template that defined by RenderSection
            </p>
        </div>
    </section>
}
<p> It is body of Index view that renders in BodyRender.</p>