
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<h3>Bate pesho parti</h3>
<img src="http://i49.vbox7.com/o/f7c/f7cf46e3360.jpg" class="img-thumbnail" />

<tr>
    @Html.Partial("PartyInfo")
</tr>