@model SportSystem.Web.Models.PlayerViewModel
@{
    ViewBag.Title = "Player View Model";
}
<div class="well">
    <h3>Name: @Model.Name</h3>
    <p>Born: @Model.Height</p>
    <p>Height: @Model.BirthDate</p>
</div>